:root {
  --color-black: #000000;
  --color-opBlack: rgba(0, 0, 0, 0.5);
  --color-dark: #232323;
  --color-white: #ffffff;
  --color-gray: #575b61;
  --color-primary: #b82026;
  --color-secondary: #b8202579;
  --color-hover: #92181c;
}
