:root {
  --color-black: #000000;
  --color-dark: #00000080;
  --color-white: #ffffff;
  --color-gray: #575b61;
  --color-primary: #b82026;
  --color-secondary: #b8202579;
  --color-hover: #92181c;
}
