@use "_variables.scss" as *;

@font-face {
  font-family: gilroy-l;
  src: url(./fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: gilroy-b;
  src: url(./fonts/Gilroy-ExtraBold.otf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-black);
  font-family: gilroy-l;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}
