@use "_variables.scss" as *;

@font-face {
  font-family: g-ultraLight;
  src: url(./fonts/Gilroy-UltraLight.ttf);
}

@font-face {
  font-family: g-light;
  src: url(./fonts/Gilroy-Light.ttf);
}

@font-face {
  font-family: g-regular;
  src: url(./fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: g-medium;
  src: url(./fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: g-semiBold;
  src: url(./fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: g-bold;
  src: url(./fonts/Gilroy-Bold.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-black);
  font-family: g-light;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}
ul,
li {
  margin: 0;
  padding: 0;
}
