@use "styles/mixin" as *;

.block {
  margin: 110px 0 50px;

  @include medium {
    margin: 150px 0 50px;
  }

  .btn {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;

    svg {
      transform: rotate(180deg);
    }
  }

  .titleBlock {
    display: flex;
    margin: 20px 0 15px;

    svg {
      width: 26px;

      @include large {
        width: 30px;
      }
    }

    .title {
      margin-top: 6px;
    }
  }
  .routesList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 40px 0 70px;

    .routeItem {
      display: flex;
      gap: 6px;

      &_link {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
