@use "styles/mixin" as *;

.block {
  position: relative;

  .imgBlock {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("../../../assets/images/mainbanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }

    > * {
      position: relative;
      z-index: 2;
    }
  }
  .text {
    margin-top: 35vh;
    .textWrapper {
      margin-top: 20px;
      max-width: 611px;

      .desc {
        margin: 15px 0 30px;
      }
    }
  }
}
