@use "styles/mixin" as *;

.block {
  .imgBlock {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    background-image: url("../../../assets/images/mainbanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include medium {
      height: calc(100vh - 99.5px);
    }
  }
}
