@use "styles/mixin" as *;

.nav {
  .ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    @include large {
      gap: 120px;
    }
    .li {
      .text {
        &:hover {
          color: var(--color-dark);
        }
      }
    }
  }
}
