@use "styles/mixin" as *;

.block {
  margin: 0 0 50px;
  display: flex;
  flex-direction: column-reverse;

  @include medium {
    margin: 70px 0 100px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .images {
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(
      to right,
      var(--color-dark) 90%,
      var(--color-white) 10%
    );
    height: 450px;
    width: 100%;
    z-index: -2;

    @include medium {
      height: 450px;
      width: 400px;
      background: var(--color-dark);
    }

    @include large {
      background: var(--color-dark);
      width: 500px;
      height: 550px;
    }

    .text {
      left: -40px;
      position: absolute;
      transform: rotate(-90deg);
      text-transform: uppercase;

      @include large {
        left: 0;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 38px;
      right: 0;
      left: auto;
      width: 80%;
      height: 370px;
      background-image: url("../../assets/images/barani.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;

      @include medium {
        right: auto;
        left: 100px;
        width: 370px;
        height: 370px;
      }

      @include large {
        right: auto;
        left: 200px;
        width: 470px;
        height: 470px;
      }
    }

    .image {
      width: 200px;
      margin-left: 50px;

      @include medium {
        width: 150px;
      }

      @include large {
        width: 250px;
        margin-left: 100px;
      }
    }
  }
}
