@use "styles/mixin" as *;

.typography {
  margin: 0;
  line-height: 1.5;
}

.h1 {
  font-size: 24px;
  @include medium {
    font-size: 35px;
  }
  @include large {
    font-size: 48px;
  }
}

.h2 {
  font-size: 22px;
  @include medium {
    font-size: 24px;
  }
  @include large {
    font-size: 28px;
  }
}

.h3 {
  font-size: 19px;
  @include medium {
    font-size: 20px;
  }
  @include large {
    font-size: 21px;
  }
}

.h4 {
  font-size: 18px;
  @include medium {
    font-size: 20px;
  }
  @include large {
    font-size: 24px;
  }
}

.head {
  font-family: g-bold;
  font-size: 23px;
  @include medium {
    font-size: 26px;
  }
  @include large {
    font-size: 29px;
  }
}

.body,
.button {
  font-size: 14px;
  @include medium {
    font-size: 15px;
  }
  @include large {
    font-size: 16px;
  }
}

.smallBody {
  font-size: 12px;
  @include medium {
    font-size: 13px;
  }
  @include large {
    font-size: 14px;
  }
}
.extraSmallBody {
  font-size: 10px;
  @include medium {
    font-size: 11px;
  }
  @include large {
    font-size: 12px;
  }
}

.ultraLight {
  font-family: g-ultraLight;
}

.light {
  font-family: g-light;
}

.regular {
  font-family: g-regular;
}

.medium {
  font-family: g-medium;
}

.semiBold {
  font-family: g-semiBold;
}

.bold {
  font-family: g-bold;
}

.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}

.gray {
  color: var(--color-gray);
}

.primary {
  color: var(--color-primary);
}

.play {
  font-family: var(--var-play);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
