@use "styles/mixin" as *;

.topBlock {
  padding-top: 80px;
  @include medium {
    padding-top: 99.5px;
  }
}

.block {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 10;
  @include medium {
    top: 0;
  }

  .innerBlock {
    background-color: var(--color-white);

    .wrapper {
      @include flexbox(space-between, center);
      height: 80px;
      @include medium {
        height: 50px;
      }

      .logoBlock {
        width: 80px;
      }
      .langBlock {
        @include flexbox(start, center);
      }
    }

    .navInvisible {
      display: none;
    }
  }
}
