@use "styles/mixin" as *;

.footer {
  background-color: var(--color-dark);
  color: var(--color-white);

  .block {
    @include medium {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .footer_inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include small {
        flex-direction: row;
        justify-content: space-between;
      }

      .footer_inner__logo {
        margin-right: 20px;
      }

      .socialLink {
        display: flex;
        align-items: center;
        gap: 15px;

        a {
          display: block;
          width: 30px;
          transition: fill 0.3s;

          svg:hover {
            fill: var(--color-primary);
            transition: 0.2s;
          }
        }
      }
    }

    .footer_bottom {
      text-align: center;
      padding-bottom: 15px;
      margin-top: 25px;

      @include small {
        margin-top: 0;
      }
    }
  }
}
